
<ion-content padding>
    <h2 text-center>Edit Profile</h2>
    <br>
    <img src="../../../assets/cute-whatsapp-dp-images-40.jpg" style="width: 200px; height: 150px;" (click)="photo()" >
<br>

    <ion-list class="tab">

        <ion-item>
        <ion-icon name="person"></ion-icon>
    <ion-label  postion="floating">
        Username
    </ion-label>
    <ion-input [(ngModel)]="user.name" placeholder="This user name will be visible to other users in the App"></ion-input>
    <ion-icon name="create"></ion-icon>
</ion-item>


<ion-item>
                <ion-label postion="floating">
                        <ion-icon name="call"></ion-icon>
                    Phone Number 
                </ion-label>
                <ion-input [(ngModel)]="user.phone" placeholder="This contact is will visible to other users in the App"></ion-input>
                <ion-icon name="create"></ion-icon>
            </ion-item>

            <ion-item>
                    <ion-label postion="floating">
                            <ion-icon name="information-circle-outline"></ion-icon>
                        About
                    </ion-label>
                    <ion-input [(ngModel)]="user.about" placeholder="This Description about yourself,will be visible to other users in the App"></ion-input>
                    <ion-icon name="create"></ion-icon>
                </ion-item>
                <ion-item>
                        <ion-label postion="floating">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            gender
                        </ion-label>
                        <ion-input [(ngModel)]="user.gender" placeholder="This Description about yourself,will be visible to other users in the App"></ion-input>
                        <ion-icon name="create"></ion-icon>
                    </ion-item>
            </ion-list>


            <ion-button (click)="done(user)">Update</ion-button>

<ion-button (click)="photo1()">Upload</ion-button>
</ion-content>
